<div class="row pt-4">
  <div class="col-sm-12">
    <div class="element-wrapper">
      <div class="element-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel-group">
              <div class="pipeline white lined-primary">
                <div class="pipeline-header">
                  <span class="pipeline-name"
                    ><b
                      ><i class="fa fa-columns faw"></i> Election Contituency
                      Information
                    </b></span
                  >
                  <button
                    class="
                      btn btn-default btn-white btn-rounded btn-lg
                      float-right
                    "
                    (click)="AddNew()"
                  >
                    <i class="fa fa-plus faw" aria-hidden="true"></i> Add New
                  </button>
                </div>
                <div class="pipeline-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="outer-div">
                        <div class="grid-wrapper">
                          <dx-data-grid
                            id="electiongridContainer"
                            [dataSource]="electioncontituencyinformationAll"
                            keyExpr="contituency_ID"
                            [showColumnLines]="true"
                            [showRowLines]="true"
                            [showBorders]="true"
                            [rowAlternationEnabled]="true"
                            [allowColumnResizing]="true"
                            [columnMinWidth]="30"
                            [columnAutoWidth]="true"
                            [remoteOperations]="true"
                            height="600"
                            width="100%"
                          >
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-header-filter
                              [visible]="true"
                            ></dxo-header-filter>
                            <dxo-search-panel
                              [visible]="true"
                            ></dxo-search-panel>
                            <!-- <dxo-paging [pageSize]="8"></dxo-paging>
                          <dxo-group-panel [visible]="true"></dxo-group-panel> 
                          <dxo-grouping [autoExpandAll]="false"></dxo-grouping> -->
                            <dxo-scrolling mode="virtual"></dxo-scrolling>
                            <dxo-sorting mode="multiple"></dxo-sorting>
                            <dxo-selection mode="single"></dxo-selection>
                            <dxi-column
                              [width]="75"
                              [allowFiltering]="false"
                              [allowSorting]="false"
                              alignment="center"
                              cellTemplate="cellTemplate"
                            >
                            </dxi-column>
                            <dxi-column
                              [width]="100"
                              dataField="contituency_ID"
                              caption="Contituency ID"
                              alignment="center"
                              cssClass="myClass"
                              sortOrder="asc"
                            >
                            </dxi-column>
                            <dxi-column
                              [width]="100"
                              dataField="contituency_CODE"
                              caption="Contituency CODE"
                              alignment="center"
                              cssClass="myClass"
                              sortOrder="asc"
                            >
                            </dxi-column>
                            <dxi-column
                              [width]="100"
                              dataField="contituency_DESC"
                              caption="Contituency Area"
                              cssClass="myClass"
                            >
                            </dxi-column>
                            <dxi-column
                              [width]="100"
                              dataField="assembly_ID.description"
                              caption="Assembly"
                              cssClass="myClass"
                            ></dxi-column>

                            <dxi-column
                              [width]="110"
                              dataField="district_ID.district_NAME"
                              caption=" District"
                              cssClass="myClass"
                            ></dxi-column>
                            <!-- <dxi-column 
                            [width]="100" 
                            dataField="isactive"
                            caption="Active"
                            cssClass="myClass"
                            alignment="center"
                          ></dxi-column> -->
                            <div *dxTemplate="let data of 'cellTemplate'">
                              <button
                                class="
                                  btn btn-default btn-white btn-rounded btn-sm
                                "
                                (click)="Edit(data)"
                              >
                                <i
                                  class="fa fa-pencil-square-o"
                                  aria-hidden="true"
                                ></i>
                              </button>
                            </div>
                            <dxo-scrolling
                              columnRenderingMode="virtual"
                            ></dxo-scrolling> </dx-data-grid
                          ><br />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  aria-labelledby="exampleModalLabel"
  class="modal fade show"
  id="addModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-plus" aria-hidden="true"></i> Add New Election
          Contituency Information
        </h5>
        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
        >
          <span aria-hidden="true"> ×</span>
        </button>
      </div>
      <form
        action=""
        class="form"
        (ngSubmit)="f.form.valid && add(electioncontituencyinformation)"
        #f="ngForm"
        novalidate
      >
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Contituency Code</label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  [(ngModel)]="electioncontituencyinformation.contituency_CODE"
                  maxlength="50"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Contituency Area<span style="color: red">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="surname"
                  [(ngModel)]="electioncontituencyinformation.contituency_DESC"
                  maxlength="50"
                  [ngClass]="{ 'is-invalid': code.invalid }"
                  #code="ngModel"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Assembly<span style="color: red">*</span></label
                >
                <!-- <input
                  type="text"
                  class="form-control"
                  name="forenames"
                  [(ngModel)]="electioncontituencyinformation.description"
                  maxlength="50"
                  [ngClass]="{ 'is-invalid': code.invalid }"
                  #code="ngModel"
                  required
                /> -->
                <ng-select
                  [(ngModel)]="electioncontituencyinformation.description"
                  name="description"
                  ng-init="electioncontituencyinformation.description"
                >
                  <ng-option
                    *ngFor="let assembly of assemblyType"
                    [value]="assembly.description"
                    >{{ assembly.description }}</ng-option
                  >
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >District<span style="color: red">*</span></label
                >
                <ng-select
                  [(ngModel)]="electioncontituencyinformation.district_NAME"
                  name="District Name"
                  ng-init="electionblockcodeinformation.description"
                >
                  <ng-option
                    *ngFor="let district of districtinformationAll"
                    [value]="district.district_NAME"
                    >{{ district.district_NAME }}</ng-option
                  >
                </ng-select>
              </div>
            </div>
          </div>

          <!-- <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label class="control-label"> Election Type </label>
              <ng-select [(ngModel)]="electioncontituencyinformation.electiontype_ID" name="electiontype_ID">
                <ng-option *ngFor="let electiontype of electiontypeActive" [value]="electiontype.id">{{electiontype.description}}</ng-option>
            </ng-select>
            </div>
          </div>
        </div> -->
          <!-- <div class="row">
            <div class="col-md-12">
              <div class="form-group ">
                <label class="control-label">Electioning Path</label>
                <input type="text" class="form-control" name="electioning_PATH" [(ngModel)]="electioncontituencyinformation.electioning_PATH" maxlength="50"  >
              </div>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  aria-labelledby="exampleModalLabel"
  class="modal fade show"
  id="editModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
          Contituency Information
        </h5>
        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
        >
          <span aria-hidden="true"> ×</span>
        </button>
      </div>
      <form
        action=""
        class="form"
        (ngSubmit)="f.form.valid && update(electioncontituencyinformation)"
        #f="ngForm"
        novalidate
      >
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Contituency Code</label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  [(ngModel)]="electioncontituencyinformation.contituency_CODE"
                  maxlength="50"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Contituency Area<span style="color: red">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="surname"
                  [(ngModel)]="electioncontituencyinformation.contituency_DESC"
                  maxlength="50"
                  [ngClass]="{ 'is-invalid': code.invalid }"
                  #code="ngModel"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >Assembly<span style="color: red">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="forenames"
                  [(ngModel)]="electioncontituencyinformation.description"
                  maxlength="50"
                  [ngClass]="{ 'is-invalid': code.invalid }"
                  #code="ngModel"
                  required
                />
                <ng-select
                  [(ngModel)]="electioncontituencyinformation.description"
                  name="area_type"
                  ng-init="electionblockcodeinformation.description"
                >
                  <ng-option
                    *ngFor="let assembly of assemblyType"
                    [value]="assembly.description"
                    >{{ assembly.description }}</ng-option
                  >
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"
                  >District<span style="color: red">*</span></label
                >
                <ng-select
                  [(ngModel)]="electioncontituencyinformation.district_NAME"
                  name="District Name"
                  ng-init="electionblockcodeinformation.description"
                >
                  <ng-option
                    *ngFor="let district of districtinformationAll"
                    [value]="district.district_NAME"
                    >{{ district.district_NAME }}</ng-option
                  >
                </ng-select>
              </div>
            </div>
          </div>

          <!-- <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <label class="control-label"> Election Type </label>
              <ng-select [(ngModel)]="electioncontituencyinformation.electiontype_ID" name="electiontype_ID">
                <ng-option *ngFor="let electiontype of electiontypeActive" [value]="electiontype.id">{{electiontype.description}}</ng-option>
            </ng-select>
            </div>
          </div>
        </div> -->
          <!-- <div class="row">
            <div class="col-md-12">
              <div class="form-group ">
                <label class="control-label">Electioning Path</label>
                <input type="text" class="form-control" name="electioning_PATH" [(ngModel)]="electioncontituencyinformation.electioning_PATH" maxlength="50"  >
              </div>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
