<div class="row pt-4">
  <div class="col-sm-12">
    <div class="element-wrapper">
      <div class="element-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel-group">
              <div class="pipeline white lined-primary">
                <div class="pipeline-header">
                  <span class="pipeline-name"><b><i class="fa fa-columns faw"></i>
                      Lookup</b></span>
                  <button class="btn btn-default btn-white btn-rounded btn-lg float-right" (click)="AddNew()"><i
                      class="fa fa-plus faw" aria-hidden="true"></i> Add New</button>
                </div>
                <div class="pipeline-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="outer-div">
                        <div class="grid-wrapper">
                          <dx-data-grid id="gridContainer"
                            [dataSource]="lookupAll"
                            keyExpr="id"
                            [showColumnLines]="true"
                            [showRowLines]="true"
                            [showBorders]="true"
                            [rowAlternationEnabled]="true"
                            [allowColumnResizing]="true"
                            [columnMinWidth]="30"
                            [columnAutoWidth]="true"
                            [remoteOperations]="true"
                            height="600"
                          >
                          <dxo-filter-row [visible]="true"></dxo-filter-row>
                          <dxo-header-filter [visible]="true"></dxo-header-filter>
                          <dxo-search-panel [visible]="false"></dxo-search-panel>
                          <!-- <dxo-paging [pageSize]="8"></dxo-paging>
                          <dxo-group-panel [visible]="true"></dxo-group-panel> 
                          <dxo-grouping [autoExpandAll]="false"></dxo-grouping> -->
                          <dxo-scrolling mode="virtual"></dxo-scrolling>
                          <dxo-sorting mode="multiple"></dxo-sorting>
                          <!-- <dxo-selection
                            [selectAllMode]="allPages"
                            [showCheckBoxesMode]="onClick"
                            mode="multiple"
                          ></dxo-selection> -->
                          <dxi-column 
                            [width]="75" 
                            [allowFiltering]="false"
                            [allowSorting]="false" 
                            alignment="center"
                            cellTemplate="cellTemplate">
                          </dxi-column>
                          <dxi-column 
                            dataField="entityname"
                            caption="Entity Name"
                            cssClass="myClass"
                          ></dxi-column>
                          <dxi-column 
                            dataField="code"
                            caption="Code"
                            cssClass="myClass"
                            alignment="center"
                          ></dxi-column>
                          <dxi-column 
                            dataField="description"
                            caption="Description"
                            cssClass="myClass"
                          ></dxi-column>
                          <dxi-column 
                            [width]="200" 
                            dataField="entity_STATUS"
                            caption="Entity Status"
                            cssClass="myClass"
                            alignment="center"
                            sortOrder="asc">
                          </dxi-column>
                          <dxi-column 
                            [width]="120" 
                            dataField="isactive"
                            caption="Active"
                            cssClass="myClass"
                            alignment="center"
                          ></dxi-column>
                          <div *dxTemplate="let data of 'cellTemplate'">
                            <button class="btn btn-default btn-white btn-rounded btn-sm" (click)="Edit(data)">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                          </div>
                          </dx-data-grid>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pt-4">
  <div class="col-sm-12">
    <div class="element-wrapper">
      <div class="element-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel-group">
              <div class="pipeline white lined-primary">
                <div class="pipeline-header">
                  <span class="pipeline-name"><b><i class="fa fa-columns faw"></i>
                      Lookup</b></span>
                  <button class="btn btn-default btn-white btn-rounded btn-lg float-right" (click)="AddNew()"><i
                      class="fa fa-plus faw" aria-hidden="true"></i> Add New</button>
                </div>
                <div class="pipeline-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="outer-div">
                        <div class="grid-wrapper">
                          <dx-data-grid id="gridContainer"
                            [dataSource]="lookupAll"
                            keyExpr="id"
                            [showColumnLines]="true"
                            [showRowLines]="true"
                            [showBorders]="true"
                            [rowAlternationEnabled]="true"
                            [allowColumnResizing]="true"
                            [columnMinWidth]="30"
                            [columnAutoWidth]="true"
                            [remoteOperations]="true"
                            height="600"
                          >
                          <dxo-filter-row [visible]="true"></dxo-filter-row>
                          <dxo-header-filter [visible]="true"></dxo-header-filter>
                          <dxo-search-panel [visible]="true"></dxo-search-panel>
                          <!-- <dxo-paging [pageSize]="8"></dxo-paging> -->
                          <dxo-group-panel [visible]="true"></dxo-group-panel>
                          <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                          <dxo-scrolling mode="virtual"></dxo-scrolling>
                          <dxo-sorting mode="multiple"></dxo-sorting>
                          <!-- <dxo-selection
                            [selectAllMode]="allPages"
                            [showCheckBoxesMode]="onClick"
                            mode="multiple"
                          ></dxo-selection> -->
                          <dxi-column 
                            dataField="entityname"
                            caption="Entity Name"
                            cssClass="myClass"
                            [groupIndex]="0"
                            sortOrder="asc">
                          </dxi-column>
                          <dxi-column 
                            [width]="75" 
                            [allowFiltering]="false"
                            [allowSorting]="false" 
                            alignment="center"
                            cellTemplate="cellTemplate">
                          </dxi-column>
                          <dxi-column 
                            dataField="code"
                            caption="Code"
                            cssClass="myClass"
                            alignment="center"
                          ></dxi-column>
                          <dxi-column 
                            dataField="description"
                            caption="Description"
                            cssClass="myClass"
                          ></dxi-column>
                          <dxi-column 
                            [width]="200" 
                            dataField="entity_STATUS"
                            caption="Entity Status"
                            cssClass="myClass"
                            alignment="center"
                            sortOrder="asc">
                          </dxi-column>
                          <dxi-column 
                            [width]="120" 
                            dataField="isactive"
                            caption="Active"
                            cssClass="myClass"
                            alignment="center"
                          ></dxi-column>
                          <div *dxTemplate="let data of 'cellTemplate'">
                            <button class="btn btn-default btn-white btn-rounded btn-sm" (click)="View(data)">
                              <i class="fa fa-eye" aria-hidden="true"></i></button>
                          </div>
                          </dx-data-grid><br>
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="option">
                                <dx-check-box
                                    [(value)]="expand.autoExpandAll"
                                    text="Expand All Groups">
                                </dx-check-box>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="addModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-plus" aria-hidden="true"></i> Add New Lookup
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true"> ×</span>
        </button>
      </div>
      <form action="" class="form" (ngSubmit)="f.form.valid && add(lookup)" #f="ngForm" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Entity Name <span style="color:red">*</span></label>
                <ng-select [(ngModel)]="lookup.entityname" name="entity" required>
                    <ng-option *ngFor="let entity of entitylist" [value]="entity">{{entity}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="control-label">Code <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="code" [(ngModel)]="lookup.code" maxlength="50" [ngClass]="{'is-invalid' : code.invalid }"  #code="ngModel" pattern="[a-zA-Z0-9\s]+" required>
                <div style="color:red" *ngIf="code.invalid">Only alphanumeric and space is allowed!</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="control-label">Entity Status</label>
                <input type="text" class="form-control" name="status" [(ngModel)]="lookup.entity_STATUS" maxlength="50">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Description <span style="color:red">*</span></label>
                <textarea class="form-control" name="description" [(ngModel)]="lookup.description" rows=5 [ngClass]="{'is-invalid' : description.invalid }"  #description="ngModel" required></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="editModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Lookup
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true"> ×</span>
        </button>
      </div>
      <form action="" class="form" (ngSubmit)="f.form.valid && update(lookup)" #f="ngForm" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Entity Name <span style="color:red">*</span></label>
                <ng-select [(ngModel)]="lookup.entityname" name="entity" required>
                    <ng-option *ngFor="let entity of entitylist" [value]="entity">{{entity}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label class="control-label">Code <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="code" [(ngModel)]="lookup.code" maxlength="50" [ngClass]="{'is-invalid' : code.invalid }"  #code="ngModel" pattern="[a-zA-Z0-9\s]+" required>
                <div style="color:red" *ngIf="code.invalid">Only alphanumeric and space is allowed!</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group ">
                <label class="control-label">Entity Status</label>
                <input type="text" class="form-control" name="status" [(ngModel)]="lookup.entity_STATUS" maxlength="50">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Description <span style="color:red">*</span></label>
                <textarea class="form-control" name="description" [(ngModel)]="lookup.description" rows=5 [ngClass]="{'is-invalid' : description.invalid }"  #description="ngModel" required></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="lookup.isactive" [(ngModel)]="lookup.isactive" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
